<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/5796e58888.js" crossorigin="anonymous"></script>
    <title>After School Club</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <!-- Navbar section with search field and basket icon -->
            <div id="navbar" class="navbar">
                <img src="https://images.unsplash.com/photo-1546410531-bb4caa6b424d?auto=format&fit=crop&q=80&w=2071&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Logo" class="navLogo">
                <div class="webName">
                    <h1 class="pageTitle">After School Club</h1>
                </div>
                <div class="selectContainer">
                    <div class="selectWrapper">
                        <label for="sortAttribute">Sort By:</label>
                        <select v-model="sortAttribute" v-on:change="sortByAttribute(sortAttribute)">
                            <option value="subject">Subject</option>
                            <option value="location">Location</option>
                            <option value="price">Price</option>
                            <option value="spaces">Available Spaces</option>
                        </select>
                    </div>
                    <div class="selectWrapper">
                        <label for="sortOrder">Order:</label>
                        <select v-model="sortOrder" v-on:change="sortByAttribute(sortAttribute)">
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>
                </div>

                <form id="searchForm" v-on:submit.prevent="searchLessons">
                    <input type="text" id="searchInput" placeholder="Search..." v-model="searchQuery"
                        v-on:input="searchLessons">
                </form>

                <div class="basketIcon" v-on:click="changePage">
                    <i class="fas fa-shopping-basket"></i>
                    <span>{{cartLength}}</span>
                </div>
            </div>
        </header>

        <main v-if="showProduct">
            <div class="lessonContainer">
                <!-- Loop through the lessons and display them as cards -->
                <div v-for="(lesson, index) in sortedLessons" :key="index" class="lessonCard">
                    <i v-bind:class="lesson.icon" class="lessonIcon"></i>
                    <h2>{{lesson.subject}}</h2>
                    <p>Location: {{lesson.location}}</p>
                    <p>Price: £{{lesson.price}}</p>
                    <p>Available Spaces: {{lesson.spaces}}</p>
                    <button :disabled="!canAddToBasket(lesson)" v-on:click="addToBasket(lesson)">
                        <i v-if="lesson.spaces != 0" class="fa-solid fa-cart-plus cartIcon"></i>
                        <i v-else class="fa-solid fa-cart-shopping cartIcon"></i>
                        {{ !canAddToBasket(lesson) ? 'Not Available' : 'Add To Basket' }}
                    </button>
                </div>
            </div>
        </main>
        <!-----------------------------------------------Basket Page-------------------------------------------------------------------------------------->
        <!-- Inside the Basket Page section -->
        <div v-else>
            <div class="basketContainerWrapper">
                <div class="basketContainer">
                    <div class="back-to-shopping">
                        <i class="fa-solid fa-caret-left" v-on:click="switchPage"></i>
                        <p>Back To The Shopping</p>
                    </div>
                    <div class="checkoutMessage">
                        <h5>Welcome to Checkout Page</h5>
                        <hr>
                        <h6 class="scrollDown">Enter your details and Submit your order</h6>
                    </div>
                    <div>
                        <div class="orderDetails">
                            <div class="verticalLine"></div>
                            <div class="customerForm">
                                <!-- Error message for invalid inputs -->
                                <div id="error-message" class="error-message" v-if="invalidInputs">
                                    <p>Please enter valid name and phone number.</p>
                                </div>
                                <input id="fullNameInput" class="text-input" type="text" placeholder="Full Name"
                                    v-model="customerName" v-on:input="validateCustomerName">

                                <input id="phoneNumberInput" class="text-input" type="text" placeholder="Phone Number"
                                    v-model="customerPhoneNumber" v-on:input="validateCustomerPhoneNumber">
                            </div>
                        </div>


                    </div>
                    <div class="lessonListContainer">
                        <div class="lessonList">
                            <div v-for="(lesson, index) in cart" :key="index" class="basketItem">
                                <i :class="lesson.icon" class="lessonIcon"></i>
                                <div class="lessonDetails">
                                    <p>{{ lesson.subject }}</p>
                                    <p>Price: £{{ lesson.price }}</p>
                                </div>
                                <button class="removeButton" v-on:click="removeFromCart(lesson)">
                                    <div class="tooltip"><i class="fas fa-trash-alt"></i>
                                        <span class="tooltiptext">Remove </span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="empty-cart-message" v-if="cart.length === 0">
                        <p>Your cart is empty. Add items to proceed to checkout.</p>
                    </div>

                    <div v-if="orderSubmitted">
                        <!-- Confirmation message after order submission -->
                        <div class="confirmation-message">
                            <p>Thank you for your order! Your order has been successfully submitted.</p>
                        </div>
                    </div>

                    <div>


                        <!-- Form to submit the order -->
                        <button v-on:click="submitOrder" class="customerFormButton">Submit
                            Order</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-----------------------------------------------Basket Page--------------------------------------------------------------------------------->
    <script>
        let webStore = new Vue({
            el: "#app",
            data: {
                showProduct: true,
                lessons: [], // Array to store fetched lessons
                filteredLessons: [], // Separate array for search filtering
                sortAttribute: "subject", // Default sorting attribute
                sortOrder: "asc", // Default sorting order
                cartCounter: 0,
                searchQuery: '', // Store user's search query
                cart: [], // Array to store lessons in cart
                customerName: "", // Initialize customerName data property
                customerPhoneNumber: "", // Initialize customerPhoneNumber data property
                orderSubmitted: false, // New data property to track if the order is submitted
                invalidInputs: false, // New data property to track if there are invalid inputs

            },
            created() {
                this.fetchLessons(); // Fetch lessons when the Vue instance is created
            },
            computed: {
                sortedLessons: function () {
                    let sortedLessons = [...this.filteredLessons];
                    let modifier = this.sortOrder === "desc" ? -1 : 1;

                    sortedLessons.sort((a, b) => {
                        if (a[this.sortAttribute] < b[this.sortAttribute]) return -1 * modifier;
                        if (a[this.sortAttribute] > b[this.sortAttribute]) return 1 * modifier;
                        return 0;
                    });

                    return sortedLessons;
                },
                cartLength: function () {
                    return this.cart.length || "";
                },

            },
            methods: {
                removeFromCart: function (lesson) {
                    const index = this.cart.indexOf(lesson);
                    if (index !== -1) {
                        // Remove the lesson from the cart
                        this.cart.splice(index, 1);

                        // Increase the available spaces for the removed lesson
                        lesson.spaces++;

                        // Decrease the cart counter
                        this.cartCounter--;
                    }
                },
                switchPage() {

                    // Only switch the page if the order has not been submitted
                    this.showProduct = !this.showProduct; // Hide the product details
                    this.switchPagePage = !this.switchPagePage; // Show the checkout page
                },

                //To disable the basket when is empty
                changePage() {
                    if (this.cart.length > 0) {
                        this.switchPage();
                    }

                },
                fetchLessons() {
                    fetch('lessons.json')
                        .then(response => response.json())
                        .then(data => {
                            this.lessons = data.lessonGroups;
                            this.filteredLessons = data.lessonGroups;
                        })
                        .catch(error => {
                            console.error('Error fetching lessons: ', error);
                        });
                },
                searchLessons: function () {
                    const query = this.searchQuery.toLowerCase();
                    this.filteredLessons = this.lessons.filter(lesson => {
                        return query === '' || lesson.subject.toLowerCase().includes(query) || lesson.location.toLowerCase().includes(query);
                    });
                },
                canAddToBasket: function (lesson) {
                    return lesson.spaces > 0;
                },
                addToBasket: function (lesson) {
                    if (this.canAddToBasket(lesson)) {
                        if (!lesson.cartQuantity) {
                            lesson.cartQuantity = 0;
                        }

                        if (lesson.cartQuantity < 5) {
                            lesson.cartQuantity++;
                            lesson.spaces--;
                            this.cart.push(lesson);
                            this.cartCounter++;
                        } else {
                            lesson.isOutOfStock = true;
                        }
                    } else {
                        lesson.isOutOfStock = true;
                    }
                },
                sortByAttribute: function () {
                    // Sorting logic using this.sortAttribute and this.sortOrder
                    let sortedLessons = [...this.filteredLessons];
                    let modifier = this.sortOrder === "desc" ? -1 : 1;

                    sortedLessons.sort((a, b) => {
                        if (a[this.sortAttribute] < b[this.sortAttribute]) return -1 * modifier;
                        if (a[this.sortAttribute] > b[this.sortAttribute]) return 1 * modifier;
                        return 0;
                    });

                    this.filteredLessons = sortedLessons;
                },
                validateCustomerName() {
                    // Check if customerName is not empty and contains only letters and spaces
                    const nameRegex = /^[a-zA-Z\s]+$/;
                    return nameRegex.test(this.customerName.trim());
                },
                validateCustomerPhoneNumber() {
                    // Check if customerPhoneNumber is not empty and contains only digits
                    const phoneRegex = /^(07\d{9})$/;
                    return phoneRegex.test(this.customerPhoneNumber.trim());
                },
                isFormValid() {
                    // Check if both customerName and customerPhoneNumber are valid
                    return ((this.customerName.trim() !== '' && this.customerPhoneNumber.trim() !== '') && (this.validateCustomerName(this.customerName.trim()) && this.validateCustomerPhoneNumber(this.customerPhoneNumber.trim()) && this.cart.length >= 1));
                },
                submitOrder() {
                    if (this.isFormValid()) {
                        // Form is valid, proceed with submitting the order

                        // logic to send the order data to server or perform any other actions.
                        // Set orderSubmitted to true to display the confirmation message
                        this.orderSubmitted = true;
                        this.invalidInputs = false;

                        // Reload the page after a short delay (for the user to see the confirmation message)
                        setTimeout(() => {
                            // Clear the cart
                            document.location.reload();
                        }, 2000);
                    } else {
                        // Form is not valid, show the error message
                        this.invalidInputs = true;
                    }
                },

            }
        });
    </script>
</body>

</html>