<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/5796e58888.js" crossorigin="anonymous"></script>
    <title>After School Club</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <!-- Navbar section with search field and basket icon -->
            <div id="navbar" class="navbar">
                <img src="https://images.unsplash.com/photo-1546410531-bb4caa6b424d?auto=format&fit=crop&q=80&w=2071&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Logo" class="navLogo">
                <div class="webName">
                    <h1 class="pageTitle">After School Club</h1>
                </div>
                

                <form id="searchForm">
                    <input type="text" id="searchInput" placeholder="Search..." >
                </form>

                <div class="basketIcon" v-on:click="changePage">
                    <i class="fas fa-shopping-basket"></i>
                    <span>{{cartLength}}</span>
                </div>
            </div>
        </header>

        <main v-if="showProduct">
            <div class="lessonContainer">
                <!-- Loop through the lessons and display them as cards -->
                <div v-for="(lesson, index) in lessons" :key="index" class="lessonCard">
                    <i v-bind:class="lesson.icon" class="lessonIcon"></i>
                    <h2>{{lesson.subject}}</h2>
                    <p>Location: {{lesson.location}}</p>
                    <p>Price: £{{lesson.price}}</p>
                    <p>Available Spaces: {{lesson.spaces}}</p>
                    <button :disabled="!canAddToBasket(lesson)" v-on:click="addToBasket(lesson)">
                        <i v-if="lesson.spaces != 0" class="fa-solid fa-cart-plus cartIcon"></i>
                        <i v-else class="fa-solid fa-cart-shopping cartIcon"></i>
                        {{ !canAddToBasket(lesson) ? 'Not Available' : 'Add To Basket' }}
                    </button>
                </div>
            </div>
        </main>
        <!-----------------------------------------------Basket Page-------------------------------------------------------------------------------------->
        <!-- Inside the Basket Page section -->
        <div v-else>
            <div class="basketContainerWrapper">
                <div class="basketContainer">
                    <div class="back-to-shopping">
                        <i class="fa-solid fa-caret-left" v-on:click="switchPage"></i>
                        <p>Back To The Shopping</p>
                    </div>
                    <div class="checkoutMessage">
                        <h5>Welcome to Checkout Page</h5>
                        <hr>
                        <h6 class="scrollDown">Enter your details and Submit your order</h6>
                    </div>
                    <div>
                        <div class="orderDetails">
                            <div class="verticalLine"></div>
                            <div class="customerForm">
                                <!-- Error message for invalid inputs -->
                                <div id="error-message" class="error-message" v-if="invalidInputs">
                                    <p>Please enter valid name and phone number.</p>
                                </div>
                                <input id="fullNameInput" class="text-input" type="text" placeholder="Full Name"
                                    v-model="customerName" v-on:input="validateCustomerName">

                                <input id="phoneNumberInput" class="text-input" type="text" placeholder="Phone Number"
                                    v-model="customerPhoneNumber" v-on:input="validateCustomerPhoneNumber">
                            </div>
                        </div>


                    </div>
                    <div class="lessonListContainer">
                        <div class="lessonList">
                            <div v-for="(lesson, index) in cart" :key="index" class="basketItem">
                                <i :class="lesson.icon" class="lessonIcon"></i>
                                <div class="lessonDetails">
                                    <p>{{ lesson.subject }}</p>
                                    <p>Price: £{{ lesson.price }}</p>
                                </div>
                                <button class="removeButton" v-on:click="removeFromCart(lesson)">
                                    <div class="tooltip"><i class="fas fa-trash-alt"></i>
                                        <span class="tooltiptext">Remove </span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="empty-cart-message" v-if="cart.length === 0">
                        <p>Your cart is empty. Add items to proceed to checkout.</p>
                    </div>

                    <div v-if="orderSubmitted">
                        <!-- Confirmation message after order submission -->
                        <div class="confirmation-message">
                            <p>Thank you for your order! Your order has been successfully submitted.</p>
                        </div>
                    </div>

                    <div>


                        <!-- Form to submit the order -->
                        <button v-on:click="submitOrder" class="customerFormButton">Submit
                            Order</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-----------------------------------------------Basket Page--------------------------------------------------------------------------------->
    <script>
        let webStore = new Vue({
            el: "#app",
            data: {
                showProduct: true,
                lessons: [], // Array to store fetched lessons
                cartCounter: 0,
                cart: [], // Array to store lessons in cart
                customerName: "", // Initialize customerName data property
                customerPhoneNumber: "", // Initialize customerPhoneNumber data property
                orderSubmitted: false, // New data property to track if the order is submitted
                invalidInputs: false, // New data property to track if there are invalid inputs

            },
            created() {
                this.fetchLessons(); // Fetch lessons when the Vue instance is created
            },
            computed: {
            
                cartLength: function () {
                    return this.cart.length || "";
                },

            },
            methods: {
                async updateLessonSpace(lessonID, new_space) {
                    try {
                        // Prepare the updated space object
                        let updated_space = { spaces: new_space };

                        // Construct the API endpoint URL
                        const lesson_api = `https://afterschool-env.eba-ri2ffiqw.eu-west-2.elasticbeanstalk.com/lessons/${lessonID}`;

                        // Prepare the request headers and body
                        const header = {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(updated_space)
                        };

                        // Send the update request to the server
                        const response = await fetch(lesson_api, header);

                        // Check if the response is successful (status code 2xx)
                        if (response.ok) {
                            console.log('Lesson space updated successfully');
                        } else {
                            // Handle error if the response status is not OK (e.g., 4xx or 5xx)
                            throw new Error(`Failed to update lesson space: ${response.statusText}`);
                        }
                    } catch (error) {
                        // Handle any errors that occur during the update process
                        console.error('Error updating lesson space:', error.message);
                    }
                },
                extractOrderIds(orders) {
                    return orders.map(order => order._id);
                },

                //Trying to decrement the available spaces
                // decrementSpace(){
                //     let lessons_ids =  this.extractOrderIds(this.cart);

                //     lessons_ids.forEach((lesson_id) =>{
                //         this.updateLessonSpace(lesson_id,2);
                //     })
                    
                   
                // },

                async postOrder() {
                    const order = {
                        full_name: this.customerName,
                        phone_no: this.customerPhoneNumber,
                        lessons:  this.extractOrderIds(this.cart),
                        
                    };

                const header = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(order),
                    };

                    try {


                        const response = await fetch("https://afterschool-env.eba-ri2ffiqw.eu-west-2.elasticbeanstalk.com/orders", header);

                        if (!response.ok) {
                            // Handle error if the response status is not OK (e.g., 4xx or 5xx)
                            throw new Error(`Failed to submit order: ${response.statusText}`);
                        }

                        const response_json = await response.json();

                        const response_status = response_json.status;

                        if (response_status === 201) {
                            this.orderSubmitted = true;
                            this.invalidInputs = false;
                        }

                    } catch (error) {
                        console.error('Error submitting order:', error.message);
                    }
    },

                // Function to remove a lesson from the shopping cart
                removeFromCart: function (lesson) {
                    const index = this.cart.indexOf(lesson);
                    if (index !== -1) {
                        // Remove the lesson from the cart
                        this.cart.splice(index, 1);

                        // Increase the available spaces for the removed lesson
                        lesson.spaces++;

                        // Decrease the cart counter
                        this.cartCounter--;
                    }
                },
                // Function to switch between product view and checkout page
                switchPage() {

                    // Only switch the page if the order has not been submitted
                    this.showProduct = !this.showProduct; // Hide the product details
                    this.switchPagePage = !this.switchPagePage; // Show the checkout page
                },

                // Function to handle basket icon click and switch pages
                changePage() {
                    if (this.cart.length > 0) {
                        this.switchPage();
                    }

                },
                // Function to fetch lessons from lessons.json file
                fetchLessons() {
                    fetch('https://afterschool-env.eba-ri2ffiqw.eu-west-2.elasticbeanstalk.com/lessons')
                        .then(response => response.json())
                        .then(data => {
                            this.lessons = data
            
                        })
                        .catch(error => {
                            console.error('Error fetching lessons: ', error);
                        });
                },
        
                // Function to check if a lesson can be added to the cart
                canAddToBasket: function (lesson) {
                    return lesson.spaces > 0;
                },
                // Function to add a lesson to the cart
                addToBasket: function (lesson) {
                    if (this.canAddToBasket(lesson)) {
                        if (!lesson.cartQuantity) {
                            lesson.cartQuantity = 0;
                        }

                        if (lesson.cartQuantity < 5) {
                            lesson.cartQuantity++;
                            lesson.spaces--;
                            this.cart.push(lesson);
                            this.cartCounter++;
                        } else {
                            lesson.isOutOfStock = true;
                        }
                    } else {
                        lesson.isOutOfStock = true;
                    }
                },
            
                // Function to validate customer's name input
                validateCustomerName() {
                    // Check if customerName is not empty and contains only letters and spaces
                    const nameRegex = /^[a-zA-Z\s]+$/;
                    return nameRegex.test(this.customerName.trim());
                },
                // Function to validate customer's phone number input
                validateCustomerPhoneNumber() {
                    // Check if customerPhoneNumber is not empty and contains only digits
                    const phoneRegex = /^(07\d{9})$/;
                    return phoneRegex.test(this.customerPhoneNumber.trim());
                },
                // Function to check if the form is valid for order submission
                isFormValid() {
                    // Check if both customerName and customerPhoneNumber are valid
                    return ((this.customerName.trim() !== '' && this.customerPhoneNumber.trim() !== '') && (this.validateCustomerName(this.customerName.trim()) && this.validateCustomerPhoneNumber(this.customerPhoneNumber.trim()) && this.cart.length >= 1));
                },
                resetCheckout(){
                    this.cart = [];
                        this.customerName = "";
                        this.customerPhoneNumber = "";
                },
                // Function to submit the order and display confirmation message
                submitOrder() {
                    if (this.isFormValid()) {

                        this.postOrder();
                        this.resetCheckout();
                    

                       
                    } else {
                        // Form is not valid, show the error message
                        this.invalidInputs = true;
                    }
                },

            }
        });
    </script>
</body>

</html>